<div class="register-wrapper mt-3">
  <h2>Zarejestruj się : </h2>
  <form [formGroup]="registerForm" (ngSubmit)="onRegister()">
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Adres e-mail</mat-label>
        <input matInput placeholder="test@test.pl" [formControl]="registerForm.controls.email">
        <mat-error *ngIf="controls.email.invalid">{{getErrorMessage(controls.email)}}</mat-error>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field appearance="fill">
        <mat-label>Nazwa użytkownika</mat-label>
        <input matInput [formControl]="registerForm.controls.username">
        <mat-error *ngIf="controls.username.invalid">{{getErrorMessage(controls.username)}}</mat-error>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field appearance="fill">
        <mat-label>Hasło</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" [formControl]="registerForm.controls.password" >
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="controls.password.invalid">{{getErrorMessage(controls.password)}}</mat-error>
      </mat-form-field>
    </div>

    <div class="d-flex justify-content-end">
      <button mat-raised-button color="primary" type="submit" [disabled]="registerForm.invalid">Zarejestruj się</button>
    </div>
    <app-alert *ngIf="errorMessage" [text]="errorMessage"></app-alert>
  </form>
</div>
